<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>审计日志管理</title>
    <% include baseInfo.html %>  
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <!-- <style type="text/css">
      table tbody tr td:first-child{
        text-align: center;
      }
    </style> -->
    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <script type="text/javascript" src="/js/common/prompt.js"></script>
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/js/common/jquery.dataTables.min.js"></script>
    </head>

    <body>
    <form id="form1" runat="server">
      <div id="tabDiv" style="padding:0px;"> 
        <!--tab头-->
        <div id="tabsHead"> <a class="curtab" id="tabs1" href="javascript:showTab('tabs1','tabContent1')">审计日志信息</a></div>
        <div id="tabContent2" style="display:block;">
          <div class="con_t" style="margin:5px 10px 10px 10px; border:0px;">
            <ul>
              <li>
                <table id="aduitLogTable" width="100%" cellspacing="0" cellpadding="0" class="t_td table">
                  <thead>
                    <tr bgcolor="#ecf1f9">
                      <td width="20%">操作者</td>
                      <td width="30%">时间</td>
                      <td width="50%">内容</td>
                    </tr>
                </thead></table>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
</body>
<script type="text/javascript" src="/static/log/aduit_log.js"></script>
</html>