<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>资源模型</title>
	<% include baseInfo.html %>  
	<script type="text/javascript" src="../js/common/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="/static/resource/resource_model_home.js"></script>
	<script type="text/javascript">
		var role = '<%- roleId%>';
	</script>
</head>
<body>
	<div class="logo">
	<input type="hidden" id="userId" name ="userId" value="<%=userId%>">
		<div
			style="font-size: 15px; color: #fff; font-weight: bold; display: inline;">
			<img src="../images/imageServer.png" width="69" height="30"
				align="absmiddle" />模型管理系统
		</div>
		<div style="float: right;">&nbsp;</div>
		<div style="float: right;">
			<a style="color: #fff; font-weight: bold;" href="/resmodel/login/logout/userId=<%=userId%>" >注销</a>&nbsp;
		</div>
		<div style="float: right;">&nbsp;</div>
		<!-- <c:if test="${roleType==0}"> -->
			<div id="sysmanage" style="float: right;">
				<a style="color: #fff; font-weight: bold;" href="/resmodel/admin">系统管理</a>&nbsp;
				<a style="color: #fff; font-weight: bold;" onclick="allExport();">全部导出</a>&nbsp;
			</div>
			<div style="float: right;">&nbsp;</div>
		<!-- </c:if> -->
		<div style="float: right; color: #fff; font-weight: bold;"><%=userName%>&nbsp;您好！&nbsp;</div>
	</div>

	<div id="resource_model_left"></div>
	<div style="overflow: hidden;">
		<iframe frameborder="0" width="100%" height="725px;" scrolling="no"
			name="content" marginheight="0" marginwidth="0" id="model_add"></iframe>
	</div>
	<div class="copyright">北京星网锐捷有限公司©版权所有</div>
</body>
</html>