<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Insert title here</title>
<script type="text/javascript">
	var metric_id = '<%- metricInFoId%>';
</script>
</head>
<body>
	<div class="pop" style="width: 599px; background-color: #fff; border-top:none;">
		<form id="addlibraryform" method="post" action="">
			<div class="pop_content">
				<div class="pop_group">
					<ul>
						<li class="m_14">
							<table width="599px" cellspacing="0" cellpadding="0" class="t_td">
								<tr>
									<td width="100" height="26">指标名称：</td>
									<td><input name="m_paramname" type="text" id="m_paramname"style="width:390px"
										size="53" class="f_left" value="<%= metricInFoName %>"/></td>
								</tr>
								<tr>
									<td height="26">指标描述：</td>
									<td><textarea name="m_paramdesc" cols="50" rows="5"style="width:390px"
											id="m_paramdesc"><%= metricInFoDesc %></textarea></td>
								</tr>
								<tr>
									<td height="26">指标类型：</td>
									<td>
									<select name="m_paramtype" id="m_paramtype" val="" style="width:130px">
									 <% for(var i=0; i<metricType.length; i++) { 
									 	if(metricType[i].id === metricInfoType){%>
									 	<option value="<%=metricType[i].id%>" selected><%=metricType[i].name%></option>
										<%}else{%>
										<option value="<%=metricType[i].id%>"><%=metricType[i].name%></option>
									<% }} %>
									</select>
									</td>
								</tr>
								<tr>
									<td height="26">指标单位：</td>
									<td><input name="m_paramunit" type="text" id="m_paramunit"style="width:390px"
										size="53" value="<%=metricInFoUnit||""%>"/>
									</td>
								</tr>
								<tr>
									<td height="26">数据类型：</td>
									<td><select name="m_paramdatatype" id="m_paramdatatype"style="width:130px">
										<% for(var i=0; i<metricDataType.length; i++) { 
											if(metricDataType[i].id === metricInFoDataType){%>
											<option value="<%=metricDataType[i].id%>" selected><%=metricDataType[i].name%></option>
										<%}else{%>
											<option value="<%=metricDataType[i].id%>"><%=metricDataType[i].name%></option>
										<% }} %>
									</select></td>
								</tr>
								<tr>
									<td height="26">指标分组：</td>
									<td style='WORD-WRAP:break-word'>
										<table width="100%">
										<tr>
										<% for(var i=0; i<metricGroup.length; i++) { %>
											<td style="padding-left: 0px;">
											<% if(metricInFoGroupId.indexOf(metricGroup[i].groupId)<0){%>
											<input type="checkbox" id="m_paramgroup" name ="m_paramgroup" 
											value="<%=metricGroup[i].groupId%>">
											<%}else{%>
											<input type="checkbox" id="m_paramgroup" name ="m_paramgroup" 
											value="<%=metricGroup[i].groupId%>" checked>
											<%}%>
											<span title="<%=metricGroup[i].groupName%>"><%=metricGroup[i].groupName%></span>
											</td>
											<% if( (i+1) % 5==0){%>
											</tr><tr>
											<% } %>
										<% } %>
										</tr>
									    </table>
									</td>
								</tr>
							</table>
						</li>
					</ul>
				</div>
			</div>
			<div class="bg_gray con_b">
				<a class="btn" onclick="closeAlert('alert')">取消</a> <a class="btn"
					onclick="javascript:updateLib();">确定</a>
			</div>
		</form>
	</div>

</body>
</html>