 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>模型管理系统</title>
 <% include baseInfo.html %>  
<link href="../css/comm.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/common/jquery-1.9.0.js"></script>
<script type="text/javascript" src="../js/common/common.js"></script>
</head>
<body>
	<form name="loginForm" method="post">
		<div class="logo">
			<img src="../images/imageServer.png" width="69" height="30"
				align="absmiddle" />模型管理系统
		</div>
		<div class="login">
			<ul>
				<li>
					<div id="showMessage" style="margin-left: 0px; display: none;">
						<input type="hidden" id="message"  />
						<div class="post" id="messageShow">&nbsp;</div>
					</div>
				</li>
				<li>
				<input type="hidden" id="userhide" />
				<input type="text" class="post" id="userid" name="userid"
					size="20" maxlength="45" autocomplete="off" value="请输入账号"
					onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
					onBlur="if(!value){value=defaultValue;this.style.color='#999'}"
					tabindex="1" /> 
					<input name="showPwd" type="text" id="showPwd"
					class="post" tabindex="2" class="input" value="请输入密码" /> <input
					name="password" class="post" type="password" id="password"
					class="input" style="display: none;" /> 
					<a id = "loginBtn" class="post">登陆</a></li>
			</ul>
		</div>
		<div class="copyright">北京星网锐捷有限公司版权所有</div>
	</form>
	<script type="text/javascript" src="../static/login.js" namespace="login"></script>
</body>
</html>
