<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
    <% include baseInfo.html %> 
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <!-- <script type="text/javascript" src="/js/common/prompt.js"></script> -->
    <script type="text/javascript" src="/js/common/common.js"></script>
    <!-- <script src="/js/common/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script> -->
    <script type="text/javascript" src="/js/common/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="/js/common/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript" src="/js/common/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/resModelTreeSetting.js"></script>
    <script type="text/javascript" src="/static/common/err_msg.js"></script>
    <script language="javascript" type="text/jscript">
    <!--
        //显示tab（tabHeadId：tab头中当前的超链接；tabContentId要显示的层ID）
        function showTab(tabHeadId,tabContentId) 
        {
            //tab层
            var tabDiv = document.getElementById("tabDiv");
            //将tab层中所有的内容层设为不可见
            //遍历tab层下的所有子节点
            var taContents = tabDiv.childNodes;
            for(i=0; i<taContents.length; i++) 
            {
                //将所有内容层都设为不可见
                if(taContents[i].id!=null && taContents[i].id != 'tabsHead')
                {
                    taContents[i].style.display = 'none';
                }
            }
            //将要显示的层设为可见
            document.getElementById(tabContentId).style.display = 'block';
            //遍历tab头中所有的超链接
            var tabHeads = document.getElementById('tabsHead').getElementsByTagName('a');
            for(i=0; i<tabHeads.length; i++) 
            { 
                //将超链接的样式设为未选的tab头样式
                tabHeads[i].className='tabs'; 
            }
            //将当前超链接的样式设为已选tab头样式
            document.getElementById(tabHeadId).className='curtab';
            document.getElementById(tabHeadId).blur();
        }
    -->
    </script>
    <script type="text/javascript">
        var id = '<%- data.c_id%>';
        var roleId = '<%- roleId%>';
        var res_type_id = '<%- data.c_res_type_id%>';
    </script>
    </head>

    <body>
    <form>
      
      <!--tab控件-->
      
      <div id="tabDiv" style="padding:0px;">  
        <!--tab头-->
        <div id="tabsHead"> <a class="curtab" id="modelBaseInfo" href="javascript:showTab('modelBaseInfo','modelBaseInfoContent')">模型基础信息</a> <a class="tabs" id="metric" href="javascript:showTab('metric','metricContent')">指标</a> <a class="tabs" id="defaultPolicy" href="javascript:showTab('defaultPolicy','defaultPolicyContent')">默认策略</a> </div>
        <div id="modelBaseInfoContent" style="display: block; padding-bottom: 40px;" class="pos_real">
          <% include res_model_modelBaseInfo.html %>
        </div>
        <div id="metricContent" style="display: none;">
          <% include res_model_metric.html %>
        </div>
        <div id="defaultPolicyContent" style="display: none; padding-bottom: 20px;" class="pos_real">
        <% include res_model_defaultPolicy.html %>
        </div>
      </div>
      
      <!--tb控件结束-->
      
    </form>


</body></html>