<div class="con_t">
<ul>
<li class="bg_gray con_b"><span class="f_left">基础信息</span><span class=""><a id="addPolicyBaseicInfoBtn" class="btn" onclick="addPolicyBasicInfo();">保存</a></span></li>
<li class="m_14">
  <table width="90%" cellspacing="0" cellpadding="0" class="t_td">
    <tbody><tr>
      <td width="70" height="26">策略ID：</td>
      <td>
        <input name="policyId" type="text" id="policyId" size="60">&nbsp;
        <span class="txt_red" id="policyId_msg"></span></td>
    </tr>
    <tr>
      <td height="26">名称：</td>
      <td><input name="policyName" type="text" id="policyName" size="60"></td>
    </tr>
    <tr>
      <td height="26">描述：</td>
      <td><label for="textfield"></label>
      <input name="policyDesc" type="text" id="policyDesc" size="60"></td>
    </tr>
    <tr>
      <td height="26">策略类型：</td>
      <td><label for="select"></label>
        <select name="select" id="policyTypeSelect">
          <option value="RES">资源</option>
          <option value="LINK">链路</option>
          <option value="BIZ">业务</option>
      </select></td>
    </tr>
  </tbody></table>
</li>
</ul>
</div>
<div class="con_t">
  <ul>
    <li class="bg_gray con_b"><span class="f_left">阈值配置</span></li>
    <li class="p_14">
      <table width="100%" cellspacing="0" cellpadding="0" class="t_td table" id="policyTable">
        <thead><tr bgcolor="#ecf1f9">
          <th>资源类型</th>
          <th>分组</th>
          <th>指标名称</th>
          <th>抖动次数</th>
          <th>取值超时</th>
          <th>重试次数</th>
          <th>监控频度</th>
          <th>是否启用监控</th>
          <th>是否产生事件</th>
          <th>红色阈</th>
          <th>黄色阈</th>
          <th>绿色阈</th>
          <th>操作</th>
        </tr>
      </thead></table>
    </li>
  </ul>
</div>
<div class="con_t" style="margin-bottom:40px;">
  <ul>
    <li class="bg_gray con_b"><span class="f_left">事件配置</span></li>
    <li class="p_14">
      <table width="100%" cellspacing="0" cellpadding="0" class="t_td table" id="eventTable">
        <thead><tr bgcolor="#ecf1f9">
          <th>事件名称</th>
          <th>事件显示名称</th>
          <th>事件类型</th>
          <th>事件级别</th>
          <th>是否启用</th>
          <th>操作</th>
        </tr>
      </thead></table>
    </li>
  </ul>
</div>
<script type="text/javascript">
      $("#policyId_msg").text("ID必须以RIIL_RMP_RES_开头");
</script>
<script type="text/javascript" src="/static/resModel/resmodel_policy_add.js"></script>