<html>
<head>
<link rel="stylesheet" href="/css/comm.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/comm.css" rel="stylesheet" type="text/css">
<link href="/css/jquery.dataTables.expand.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/css/table.css" />
<style type="text/css">
.t_td td {
	padding-left: 8px;
	height: 26px;
	line-height: 26px;
}

.table {
	border: 1px solid #e3e3e3;
	border-collapse: collapse;
	width: 96%;
	table-layout: fixed;
}

.table td {
	border-top: 1px dashed #e3e3e3;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table tr:hover {
	background: #98d4f7;
}
.btn_top1 {
	margin: 0;
	background: #fff;
	overflow: hidden;
}
</style>
<% include baseInfo.html %>
<script type="text/javascript" src="/js/common/jquery.js"></script>
<script type="text/javascript" src="/js/common/jquery.dataTables.min.js"></script>
</head>
<body marginwidth="0" marginheight="0" style="zoom: 1;">
	<div id="form_div">
	
	<form id="form1">
		<!-- <div class="btn_top1">
			<a class="btn" onclick="predeleteExtCmd()">删除</a>
			<a class="btn" onclick="addExpand();" >添加</a>
		</div>
		<div class="con_t" style="margin:-14px 0px -6px; border: 0px;">
			<table id="metricExpandTable" width="96%" cellspacing="0" cellpadding="0" class="t_td table">
              <thead>
              	<tr bgcolor="#ecf1f9">
                    <th><input type="checkbox" id="all" ></th>
                    <td>IOS版本</td>
                    <td>填写人</td>
                    <td>采集指令</td>
					<td>采集类型</td>
                </tr>
            </thead></table>
		</div> -->
		<div class="btn_top1">
	        <div class="f_right"><a class="btn" onclick="delExpandInfos();">删除</a><a class="btn" onclick="addExpand();">添加</a> </div>
	    </div>
	    <div class="con_t" style="margin:0px 2px 0px 2px; border:0px;height:150px;" >
	        <ul>
	          <li>
	            <table id="metricExpandTable" width="100%" cellspacing="0" cellpadding="0" class="t_td table">
	              <thead>
	              	<tr bgcolor="#ecf1f9">
	                    <th><input type="checkbox" id="all" ></th>
	                    <td>sysoid</td>
	                    <td>版本</td>
		                </tr>
	            </thead></table>
	          </li>
	        </ul>
	    </div>
	</form>
	</div>
</body>
<script type="text/javascript" src="/static/resModel/resmodel_metric_expand.js"></script>
</html>