<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="/css/pop.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/common/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
<script type="text/javascript" src="/js/common/prompt.js"></script>
<style type="text/css">
.btn_top1 {
	margin: 5px 10px;
	overflow: hidden;
}

.t_td1 td {
	height: 26px;
	line-height: 30px;
	padding-left: 20px;
}
.tableheight {
	height:58%;
}
</style>
</head>
<body>
  <div class="pop"
		style="width: 552px; height:98%; background-color: #fff;">
		<form id="modelmetricextcmd" method="post" action=""
			enctype="multipart/form-data">
			<div class="pop_content">
				<div class="pop_group">
					<ul>
						<li class="m_14">
							<div class="btn_top1">
								<a class="btn" onclick="closeAlert('alertadd')" target="_blank">关闭</a>
								<a class="btn" onclick="addExtCmd()">保存</a>
							</div>
              <!-- <table class="tableheight"cellspacing="0" cellpadding="0" class="t_td1" id="jdbcTB">
                <tr>
                  <td width="70" height="50">IOS版本：</td>
                  <td><input name="extRel" type="text" id="extRel"
                    size="50" class="f_left" style="width: 360px;"/></td>
                </tr>
                <tr>
                  <td width="70" height="50">采集指令：</td>
                  <td><textarea name="extCmd" cols="50" rows="3" style="width: 360px;"
                      id="extCmd"></textarea></td>
                </tr>
              </table> -->
              <!-- <table class="tableheight"cellspacing="0" cellpadding="0" class="t_td1" id="wmiTB" style="display:none;">
                <tr >
                  <td width="70">IOS版本：</td>
                  <td><input name="extRel" type="text" id="extRel"style="width: 360px;"
                    size="50" class="f_left" /></td>
                </tr>
                <tr >
                  <td width="70">采集指令：</td>
                  <td><textarea name="extCmd" cols="50" rows="3"style="width: 360px;"
                      id="extCmd"></textarea></td>
                </tr>
              </table> -->
              <table class="tableheight"cellspacing="0" cellpadding="0" class="t_td1">
                <tr>
                  <td width="70" height="26">Sysoid：</td>
                  <td><input name="extSysoid" type="text" id="extSysoid"style="width: 360px;"
                    size="50" class="f_left" />&nbsp;<span
                    style="color: red">*</span>&nbsp;<span style="color: red" id="extSysoid_msg"></span></td>
                </tr>
                <tr>
                  <td width="70" height="26">IOS版本：</td>
                  <td><input name="extRel" type="text" id="extRel"style="width: 360px;"
                    size="50" class="f_left" /></td>
                </tr>
                <tr>
                  <td width="70" height="47">采集指令：</td>
                  <td><textarea name="extCmd" cols="50" rows="3" style="width: 360px;"
                      id="extCmd" disabled="disabled"></textarea></td>
                </tr>
                <tr>
                  <td width="70" height="26">采集类型：</td>
                  <td><input type="text" id="collectType" disabled="disabled" style="width:360px;" /></td>
                </tr>
              </table>
						</li>
					</ul>
				</div>
			</div>
			<div class="bg_gray con_b"></div>
		</form>
	</div>
</body>
<script type="text/javascript" src="/static/resModel/resmodel_metric_expand_add.js"></script>
<script type="text/javascript" src="/static/common/err_msg.js"></script>
</html>