<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>资源模型</title>
<% include baseInfo.html %>  
</head>
<body>
<div class="logo"><img src="../images/imageServer.png" width="69" height="30" align="absmiddle"/>模型管理系统</div>
<div id="resource_model_left"></div>
<div style="overflow: hidden;">
		<iframe frameborder="0" width="100%" height="100%" scrolling="no" 
			name="content"	marginheight="0" marginwidth="0" id="model_add"></iframe>
	</div>
	<div class="copyright">北京星网锐捷有限公司版权所有</div>
</body>
<script type="text/javascript" src="/js/common/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/static/resource/resource_model_home.js"></script>
</html>