<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/comm.css" rel="stylesheet" type="text/css" />
 <% include baseInfo.html %>  
</head>
<body>
<div class="nav_con" style="height: 100%; overflow-y: auto;">

    <ul>
      <li class="bg_gray" style="height:30px;">
            <span class="f_left"><b>角色信息</b></span>
        </li>
        <li class="tree" style="height padding-right:20px;">
                <% for(var i=0; i<data.length; i++) { %>
            
                        <p>
                        <a class="ico pro f_left"></a>
                        <a onclick="roleIdOnclick(this)" val="<%=data[i].roleId%>" name="role_name" title="<%=data[i].roleName%>">
                            <%=data[i].roleName%></a>
                        </p>
           
               <% } %>
        </li>
    </ul>
	</div>
<script type="text/javascript" src="/static/admin/role_table.js"></script>
</body>
</html>