<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>用户新增</title>
<link href="/css/comm.css" rel="stylesheet" type="text/css" />
<link href="/css/user_add.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/common/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/js/common/prompt.js"></script>
<script type="text/javascript" src="/js/common/common.js"></script>
 <% include baseInfo.html %>  
 </head>
<body>
 <div  class="pop" style="width:600px;">
 <div class="pop_content">
 <div class="pop_group">
				<ul>
					<li class="pop_group_tit"><b>登录信息</b></li>
				</ul>
				<ul class="pop_group_con">
					<li class="li_txt_pop" >
					    <span class=" w_80">账号：</span>
					    <span class="w_160"> 
					        <input id="user_account" type="text" class=" w_160" 
					          onblur="checkUserAccount();$(this).focus(function(){checkUserAccount()});"/>
					        <input id="user_account_hidden" type="hidden"  >
					    </span>
					    <span class=" m_l10r4 txt_red">*</span>
					</li>
					<li id="li_pass" class="li_txt_pop">
					    <span class=" w_80">密码：</span>
					    <span class="w_160"> 
					        <input type="password" class=" w_160" id="user_password" onblur="checkPassword();$(this).focus(function(){checkPassword()});"/>
					    </span>
					    <span class=" m_l10r4 txt_red" style="">*</span>
					</li>
					<li id="li_rePass" class="li_txt_pop">
					    <span class=" w_80">确认密码</span>
					    <span class="w_160"> 
					        <input type="password" class=" w_160" id="user_rePassword" onblur="checkRePassword();$(this).focus(function(){checkRePassword()});"/>
					    </span><span class=" m_l10r4 txt_red">*</span></li>
					<li class="li_txt_pop" id="passFont"><span class="txt_blue">6位到16位之间，建议由以下三类字符组合：英文字母（区分大小写）、阿拉伯数字、特殊字符。</span></li>
				</ul>
			</div>
			</div>
			<div class="pop_content">
			<div class="pop_group">
				<ul>
					<li class="pop_group_tit"><b>个人信息</b></li>
				</ul>
				<ul class="pop_group_con">
					
					<li class="li_txt_pop">
					<span class=" w_80">姓名：</span>
					<span class="w_160"> 
					<input type="text" class=" w_160" id="user_name"   onblur="checkUserName();$(this).focus(function(){checkUserName()});"/>
					</span>
					<span class=" m_l10r4 txt_red">*</span>
					</li>
					
					<li class="li_txt_pop"><span class=" w_80">部门：</span><span>
					    <input type="hidden" id="user_dept_hidden"  >
						<!-- <select  class="w_160" id="user_dept" name="user_dept">
						<option>部门1</option>
						<option>部门2</option>
						</select> -->
						<input type="text" class="w_160" id="user_dept" name="user_dept"  >
					</span>
					</li>
					<li class="li_txt_pop">
					<span class=" w_80">手机：</span>
					<span class="w_160"> 
					<input type="text" class="w_160" id="user_phone"  onblur="checkPhone();$(this).focus(function(){checkPhone()});"/>
					</span>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="txt_blue m_l10r4">此手机号用于短信提醒。</span>
					</li>
					<li class="li_txt_pop">
					<span class=" w_80">邮箱：</span>
					<span class="w_160"> 
					<input  type="text" class=" w_160" id="user_mail"  onblur="checkMail();$(this).focus(function(){checkMail()});"/>
					</span>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="txt_blue m_l10r4">此邮箱用于邮件提醒。</span>
					</li>
				</ul>
			</div>
		</div>
		<div>
		    <ul>
		        <li class="bg_gray con_b">
		            <a class="btn" onclick="closeWin()">取消</a>
                    <a class="btn" onclick="submitMsg()">确定</a>
		        </li>
		    </ul>
		</div>
</div>
</body>
 
<script type="text/javascript" src="/static/admin/user_add.js"></script>

</html>