<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>厂商管理</title>
    <% include baseInfo.html %>  
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      table tbody tr td:first-child{
        text-align: center;
      }
    </style>
  	<script type="text/javascript" src="/js/common/jquery.js"></script>
  	<script type="text/javascript" src="/js/common/prompt.js"></script>
  	<script type="text/javascript" src="/js/common/common.js"></script>
  	<script type="text/javascript" src="/js/common/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/jscript">
    <!--
        //显示tab（tabHeadId：tab头中当前的超链接；tabContentId要显示的层ID）
        var tab = '<%- tabContentId %>';
        function showTab(tabHeadId,tabContentId,flag)
        {
            //tab层
            var tabDiv = document.getElementById("tabDiv");
            //将tab层中所有的内容层设为不可见
            //遍历tab层下的所有子节点
            var taContents = tabDiv.childNodes;
            for(i=0; i<taContents.length; i++) 
            {
                //将所有内容层都设为不可见
                if(taContents[i].id!=null && taContents[i].id != 'tabsHead')
                {
                    taContents[i].style.display = 'none';
                }
            }
            //将要显示的层设为可见
            document.getElementById(tabContentId).style.display = 'block';
            //遍历tab头中所有的超链接
            var tabHeads = document.getElementById('tabsHead').getElementsByTagName('a');
            for(i=0; i<tabHeads.length; i++) 
            {
                //将超链接的样式设为未选的tab头样式
                tabHeads[i].className='tabs'; 
            }
            //将当前超链接的样式设为已选tab头样式
            if(!flag){
              if(typeof(tab) == 'undefined' || tab == ''){
                tab = tabHeadId;
              }
            }else{
              tab = tabHeadId;
            }
            document.getElementById(tab).className='curtab';
            document.getElementById(tab).blur();
        }
    -->
    </script>
    </head>

    <body>
    <form id="form1" runat="server">
      <!--tab控件-->
      <div id="tabDiv" style="padding:0px;">  
        <!--tab头-->
        <div id="tabsHead"> <a class="tabs" id="tabs1" onclick="javascript:showTab('tabs1','manufTabContent',true)">厂商管理</a> <a class="tabs" id="tabs2" onclick="javascript:showTab('tabs2','vendorTabContent',true)">型号维护</a></div>
        <div id="manufTabContent" style="display:block; padding-bottom:40px;" class="pos_real">
          <div class="btn_top">
            <div class="f_right"><a onclick="manufManager.delManufMsg()" class="btn">删除</a><a class="btn" onclick="manufManager.popManufAddPage()">添加</a> </div>
          </div>
          <div class="con_t" style="margin:0px 10px 10px 10px; border:0px;">
            <ul>
              <li>
                <table id="manufTable" width="100%" cellspacing="0" cellpadding="0" class="t_td table">
                  <thead>
                  	<tr bgcolor="#ecf1f9">
	                    <th><input type="checkbox" id="all" ></th>
	                    <td>厂商名称</td>
	                    <td>填写人</td>
                    </tr>
                </thead></table>
              </li>
            </ul>
          </div>
        </div>
        <div id="vendorTabContent" style=" display:none;padding-bottom:40px;" class="pos_real">
          <div class="btn_top">
            <div class="f_left"><span class="f_left" style="padding-top:4px;">厂商：
              <select name="select" id="select" style="width:100px" class="ml_20" onchange="vendorManager.searchVendorInfos();">
              </select>&nbsp;&nbsp;
              型号：
              <input name="textfield" type="text" id="textfield" value="请输入指标型号进行搜索" size="40" onblur="manufManager.onblur();" onfocus="manufManager.onfocus();">
            </span> <a onclick="vendorManager.searchVendorInfos();" class="ico search f_left" title="搜索"></a></div>
            <div class="f_right"><a onclick="vendorManager.delvendorInfos();" class="btn">删除</a><a class="btn" onclick="vendorManager.popDeviceAddPage();">添加</a> </div>
          </div>
          <div class="con_t" style="margin:0px 10px 10px 10px; border:0px;">
            <ul>
              <li>
                <table id="vendorTable" width="100%" cellspacing="0" cellpadding="0" class="t_td table">
                  <thead><tr bgcolor="#ecf1f9">
                    <th width="20"><input name="input3" type="checkbox" id="allVendor"></th>
                    <td width="19%">Sysoid</td>
                    <td width="19%">型号</td>
                    <td width="19%">系列</td>
                    <td width="19%">厂商名称</td>
                    <td width="15%">对应模型</td>
                    <td width="9%">设备类型</td>
                  </tr>
                </thead></table>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--tb控件结束-->
    </form>
</body>
<script type="text/javascript" src="/static/manuf/manuf_list.js"></script>
</html>