<!DOCTYPE html>
<html lang="zh" ng-app="html2pdfApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/modules/html2pdf/html2pdf.js"></script>
</head>

<body ng-controller="html2pdfController">
    <input type="button" name="topdf" value="topdf" ng-click="topdf()">
    <input type="button" name="generatePdf" value="generatePdf" ng-click="generatePdf()">

</body>

</html>