table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable tbody td{
  /*padding: 8px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:120px !important;
  word-wrap: break-word;*/
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  -o-text-overflow:ellipsis; 
  -icab-text-overflow: ellipsis; 
  -khtml-text-overflow: ellipsis; 
  -moz-text-overflow: ellipsis; 
  -webkit-text-overflow: ellipsis; 
}